.navBar {
  box-shadow: 0 4px 4px -3px #3a3a3aa8;
  z-index:999999!important;
}

.navLink {
  color: #f5f5f1 !important;
  z-index: 4000;
  position: relative;
}

.buttonSearch {
  background-color: transparent !important;
}
.button-modal{
  background-color: transparent!important;
  position:absolute;
  top:30px;
  left:40px;
  font-weight: bold;
  border: 2px solid  rgba(128, 128, 128, 0.438)!important;
  border-radius: 50%;
}
.button-modal:focus,
.button-modal:active{
  border: 1px solid transparent!important;
  box-shadow: none!important;
  outline: 0!important;
  box-shadow: none!important;
}

.buttonModal{
  background-color: white!important;
  color: black!important;
}


.delete{
  border-radius: 50%;
  background-color: transparent!important;
  border: 2px solid red!important;
  color: red!important;
  padding:2px 8px 7px 8px;
  transition: .30s ease-in-out;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete:hover{
  border-radius: 50%;
  background-color: red!important;
  border: 2px solid red!important;
  transition: .30s ease-in-out;
  color: #fff!important;
}
.list-item{
  background-color: rgba(0,0,0,0.5);
    color: white;
    border: 2px solid rgba(12, 12, 12, 0.5);
}
.title{
  color: white;
}

